[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
scikit-learn = "*"
scipy = "*"
joblib = "*"
networkx = "*"
sphinx-rtd-theme = "*"
sphinx-automodapi = "*"
category-encoders = "*"
pymeta = {editable = true,path = "."}
jupyter = "*"
ipykernel = "*"
sphinx-autobuild = "*"

[requires]
python_version = "3.7"
